version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.23
    resource_class: medium
    working_directory: ~/project/packages/uxpin-merge-cli
    steps:
      - checkout:
          path: ~/project/
      - run:
          name: 'NPM: Set registry'
          command: npm set @uxpin:registry "https://registry.npmjs.org/"
      - run:
          name: 'NPM: Set authentication token'
          command: npm set //registry.npmjs.org/:_authToken "${NPM_TOKEN}"
      # Yarn install with cache
      - restore_cache:
          key: uxpin-merge-cli-dependencies-cache-{{ checksum "package.json" }}
      - run:
          name: "Install dependencies for uxpin-merge-cli"
          command: make dependencies
      - save_cache:
          key: uxpin-merge-cli-dependencies-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      # Install dependencies for uxpin-merge-storybook-preset-addon
      - run:
          name: "Install dependencies for uxpin-merge-storybook-preset-addon"
          command: cd ../uxpin-merge-storybook-preset-addon && yarn install
      # Download test repositories with cache
      - restore_cache:
          key: uxpin-merge-cli-test-repos-{{ checksum "shell_scripts/test_resources/Makefile" }}
      - run:
          name: "Allow cloning git dependencies from github"
          command: mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
      - run:
          name: "Create test resources"
          command: make test-resources
      - save_cache:
          key: uxpin-merge-cli-test-repos-{{ checksum "shell_scripts/test_resources/Makefile" }}
          paths:
            - ./test/resources/repos
      # Build and test
      - run:
          name: "Check"
          command: make check
      - run:
          name: "Build"
          command: make build
      - run:
          name: "Test"
          command: make test-ci
          no_output_timeout: 30m
          environment:
            CHROME_PATH: /usr/bin/google-chrome
      - store_test_results:
          path: ./reports
      - run:
          name: "Upload code coverage"
          command: ./packages/uxpin-merge-cli/node_modules/.bin/codecov -F unittests -F uxpin_merge_cli
          working_directory: ~/project/
