version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.1.2
    resource_class: large
    working_directory: ~/project/packages/uxpin-code-cli
    steps:
      - checkout:
          path: ~/project/
      # Yarn install with cache
      - restore_cache:
          key: uxpin-code-cli-dependencies-cache-{{ checksum "package.json" }}
      - run:
          name: "Install dependencies"
          command: yarn install
      - save_cache:
          key: uxpin-code-cli-dependencies-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      # Download test repositories with cache
      - restore_cache:
          key: uxpin-code-cli-test-repos-{{ checksum "shell_scripts/test_resources/Makefile" }}
      - run:
          name: "Allow cloning git dependencies from github"
          command: mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
      - run:
          name: "Create test resources"
          command: make test-resources
      - save_cache:
          key: uxpin-code-cli-test-repos-{{ checksum "shell_scripts/test_resources/Makefile" }}
          paths:
            - ./test/resources/repos
      # Build and test
      - run:
          name: "Build"
          command: make build
      - run:
          name: "Check"
          command: make check
      - run:
          name: "Test"
          command: make test-ci
          environment:
            CHROME_PATH: /usr/bin/google-chrome
      - store_test_results:
          path: ./reports
      - run:
          name: "Upload code coverage"
          command: ./packages/uxpin-code-cli/node_modules/.bin/codecov -F unittests -F uxpin_code_cli
          working_directory: ~/project/
